.characterSheet {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
}

.stat {
  flex-basis: 33.333%;
}

.list {
  flex-basis: 100%;
}

.list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list button {
  background: #39f;
  border: none;
  border-radius: 6px;
  color: #fff;
  padding: 0.5rem;
}
